# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.con

#Folders provided when 42 is downloaded
Database/
Demo/
Development/
Docs/
License/
MonteCarlo/
Object/
Potato/
Rx/
Screenshots/
Standalone/
Tx/
Utilities/
World/

#Files originally in 42 that are in the folders we are adding/changing wihtin.
#I am unaware how previous year saved their work and used sim without pushing
#the whole 42 code. However, it was important for them to only save the code we are changing,
# so I am continuing that focus.
# This is my shorterm method in only pushing code that we change. If we manipulte 
# one of these files, take it off the ignore. Maybe in the future, it would be
# better to save all files within these folders.
# Juan Y4 Feb 24, 2020

42README.md
42README.txt
AcTypes.h
InOut/.DS_Store
InOut/Flex_Simple.txt
InOut/Inp_Cmd.txt
InOut/Inp_FOV.txt
InOut/Inp_Graphics.txt
InOut/Inp_IPC.txt
InOut/Inp_NOS3.txt
InOut/Inp_Region.txt
InOut/Inp_TDRS.txt
InOut/Orb_LEO.txt
InOut/SC_Simple.txt
Include/.DS_Store
Include/42GlutGui.h
Include/42types.h
Include/Ac.h
Kit/.DS_Store
Kit/Include/
Kit/Shaders/
Kit/Source/dcmkit.c
Kit/Source/envkit.c
Kit/Source/fswkit.c
Kit/Source/geomkit.c
Kit/Source/glkit.c
Kit/Source/gmseckit.c
Kit/Source/iokit.c
Kit/Source/mathkit.c
Kit/Source/msis86kit.c
Kit/Source/nrlmsise00kit.c
Kit/Source/radbeltkit.c
Kit/Source/sigkit.c
Kit/Source/sphkit.c
Kit/Source/texkit.c
Kit/Source/timekit.c
Model/.DS_Store
Model/1FGL Source Catalog.txt
Model/42.mtl
Model/42Glow.png
Model/42Moai.xcf
Model/42_Watermark.ppm
Model/42_WatermarkAlpha.ppm
Model/67P-CG.obj
Model/67P.obj
Model/67P.wings
Model/ARC_ArmSegment.mtl
Model/ARC_ArmSegment.obj
Model/ARC_ArmSegment.wings
Model/ARC_ChaserBody.mtl
Model/ARC_ChaserBody.obj
Model/ARC_ChaserBody.wings
Model/ARC_ChaserSolarArray.mtl
Model/ARC_ChaserSolarArray.obj
Model/ARC_ChaserSolarArray.wings
Model/ARC_Hand.mtl
Model/ARC_Hand.obj
Model/ARC_Hand.wings
Model/ARC_Target.mtl
Model/ARC_Target.obj
Model/ARC_Target.wings
Model/AntiSunSpriteAlpha.ppm
Model/Aura_MainBody.mtl
Model/Aura_MainBody.obj
Model/Aura_SolarArray.mtl
Model/Aura_SolarArray.obj
Model/BBM.mtl
Model/BBM.obj
Model/BBM.wings
Model/BlairSolarCell.ppm
Model/BlairSolarCell.tif
Model/CMG.obj	
Model/CMG.wings
Model/CMGSat_Body.obj
Model/CMGSat_Body.wings
Model/Constellations.txt
Model/Cubesat_1U.obj
Model/Cubesat_1U.wings
Model/Cubesat_3U.obj
Model/Cubesat_3U.wings
Model/Cubesat_6U.obj
Model/Cubesat_6U.wings
Model/EGM96.txt
Model/Egret Source Catalog.txt
Model/ErosBump.ppm
Model/ErosColor.ppm
Model/ErosCrust03.obj
Model/FermiSkyMX.ppm
Model/FermiSkyMY.ppm
Model/FermiSkyMZ.ppm
Model/FermiSkyPX.ppm
Model/FermiSkyPY.ppm
Model/FermiSkyPZ.ppm
Model/GLGM2.txt
Model/GMM2B.txt
Model/GSFC_Watermark.ppm
Model/GSFC_WatermarkAlpha.ppm
Model/GenScSprite.ppm
Model/GenScSpriteAlpha.ppm
Model/GenericAsteroid.obj	
Model/GenericAsteroid.wings
Model/GlastLogo.ppm
Model/GlastSpriteAlpha.ppm
Model/GlastTex1024.ppm
Model/HST.mtl
Model/HST.obj
Model/HST.wings
Model/HaideaCrust05.obj
Model/Hartley2.obj
Model/ISS.mtl
Model/ISS_HGA.obj
Model/ISS_MainBody.obj
Model/ISS_Radiator.obj
Model/ISS_SimpleMainBody.mtl
Model/ISS_SimpleMainBody.obj
Model/ISS_SmSolarPanel.obj
Model/ISS_SolarPanel.obj
Model/ISS_SolarTruss.obj
Model/IonCruiser.obj
Model/IssSprite.ppm
Model/IssSpriteAlpha.ppm
Model/ItokawaCrust03.obj
Model/JustACube.obj
Model/JustACube.wings
Model/Kepler.mtl
Model/Kepler.obj
Model/Knot.obj
Model/Lacadiera.obj
Model/LanderBody.mtl
Model/LanderBody.obj
Model/LanderBody.wings
Model/LanderLeg.mtl
Model/LanderLeg.obj
Model/LanderLeg.wings
Model/LroSprite.ppm
Model/LroSpriteAlpha.ppm
Model/MDLSat_Antenna.mtl
Model/MDLSat_Antenna.obj
Model/MDLSat_MainBody.mtl
Model/MDLSat_MainBody.obj
Model/MDLSat_SolarArray.mtl
Model/MDLSat_SolarArray.obj
Model/MilkyWay.ppm
Model/MinorBodies.txt
Model/MoonSprite.ppm
Model/MoonSpriteAlpha.ppm
Model/NASA_LOGO.ppm
Model/NASA_LOGO.tif
Model/NASA_LOGO_SMALL.ppm
Model/NASA_Watermark.ppm
Model/NASA_WatermarkAlpha.ppm
Model/NOAA_solarflux_table.txt
Model/Noise3DTex.raw
Model/Phobos.mtl
Model/Phobos.obj
Model/Point.obj
Model/Potato.mtl	
Model/Potato.obj	
Model/Pulsar Catalog.txt
Model/RQ36Crust05.obj
Model/Rgn_Crater.obj
Model/Rgn_Crater.wings
Model/Rgn_Flat.obj
Model/Rgn_TAG.obj
Model/Rgn_Terrain.obj
Model/Rgn_Terrain.wings
Model/RoverBody.mtl
Model/RoverBody.obj
Model/RoverBody.wings
Model/RoverLowerLeg.mtl
Model/RoverLowerLeg.obj
Model/RoverLowerLeg.wings
Model/RoverUpperLeg.mtl
Model/RoverUpperLeg.obj
Model/RoverUpperLeg.wings
Model/SatCamLogo.png
Model/Skymap00.txt
Model/Skymap01.txt
Model/Skymap02.txt
Model/Skymap03.txt
Model/Skymap04.txt
Model/Skymap05.txt
Model/Skymap06.txt
Model/Skymap07.txt
Model/Skymap08.txt
Model/Skymap09.txt
Model/SmallTet.mtl
Model/SmallTet.obj
Model/SmallTet.wings
Model/SoccerBall.mtl
Model/SoccerBall.obj
Model/SoccerBall.wings
Model/SolFlx0908_Schatten.txt
Model/SpaceShuttleOrbiter.mtl
Model/SpaceShuttleOrbiter.obj
Model/SpaceShuttleOrbiter.wings
Model/Spectrum.txt
Model/StarTexture.ppm
Model/StarTextureo.ppm
Model/StarTexturex.ppm
Model/SunSpriteAlpha.ppm
Model/Sunflower.obj
Model/Telescope.mtl
Model/Telescope.obj
Model/TestSlab1.obj	
Model/TestSlab2.obj
Model/Voyager.mtl
Model/Voyager.obj
Model/Wirtanen.obj	
Model/WirtanenEllipse.obj
Model/ae8max.tx
Model/ae8min.txt
Model/ap8max.txt
Model/ap8min.txt
Model/ascp1950.430
Model/ascp2050.430
Model/ascp2150.430
Model/hbltel_1.ppm
Model/hbltel_2.ppm
Model/hbltel_3.ppm
Model/hbltel_4.ppm
Model/hbltel_w.ppm
Model/igrf00.txt
Model/igrf05.txt
Model/igrf10.txt
Model/igrf15.txt
Model/igrf95.txt
Model/moai.obj	
Model/spstob_1.ppm
Model/spstob_2.ppm
Model/spstob_3.ppm
Model/spstob_4.ppm	
Model/spstob_e.ppm
Model/stf1_red.obj
Source/.DS_Store
Source/42cmd.c
Source/42dynamics.c
Source/42environs.c
Source/42ephem.c
Source/42ipc.c
Source/42main.c
Source/42nos3.c
Source/42perturb.c
Source/42sensors.c
Source/AcApp.c
Source/IPC/
Model/CMG.obj
Model/GenericAsteroid.obj
Model/Potato.mtl
Model/Potato.obj
Model/TestSlab1.obj
Model/Wirtanen.obj
Model/ae8max.txt
Model/moai.obj
Model/spstob_4.ppm  
